@import url(_variables.css);

.button {
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	background-color: var(--first-color);
	color: #fff;
	padding: 1.15rem 1.5rem;
	border-radius: 0.5rem;
	transition: 0.3s;
	box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), 65%, 0.25);
}

.button i {
	font-size: 1.25rem;
}

.button:hover {
	background-color: var(--first-color-alt);
	transform: scale(1.1);
}

.profile__buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
}
