@import url(_variables.css);

.contact__container {
	row-gap: 3.5rem;
}

.contact__title {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
	font-size: var(--small-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: 2.5rem;
}

.contact__title i {
	font-size: 1rem;
	font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form {
	display: grid;
}

.contact__info {
	row-gap: 2rem;
}

.contact__data {
	row-gap: 0.75rem;
}

.contact__data-title {
	font-size: var(--small-font-size);
	color: var(--text-color-light);
	cursor: default;
}

.contact__data-info {
	font-size: var(--small-font-size);
	font-family: var(--title-font);
	color: var(--title-color);
}

.contact__button {
	width: max-content;
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	color: var(--title-color);
	font-size: var(--small-font-size);
	transition: 0.3s;
}
.contact__button:hover {
	color: var(--first-color);
}

.contact__button i {
	font-size: 1rem;
	transition: transform 0.3s;
}

.contact__button:hover i {
	transform: translateX(0.5rem);
}

.contact__form {
	position: relative;
	row-gap: 2rem;
}

.contact__form-div {
	position: relative;
	height: 4rem;
}

.contact__form-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid var(--text-color-light);
	border-radius: 2rem;
	padding: 1.5rem;
	font-size: var(--normal-font-size);
	font-family: var(--title-font);
	color: var(--title-color);
	background: none;
	outline: none;
	z-index: 1;
}
.contact__form-input:focus {
	border-color: var(--first-color);
}

.contact__form-tag {
	position: absolute;
	top: -0.75rem;
	left: 1.25rem;
	z-index: 10;
	background-color: var(--body-color);
	color: var(--title-color);
	font-size: var(--smaller-font-size);
	font-weight: var(--font-medium);
	padding: 0.35rem;
	transition: background 0.4s;
}

.contact__form-area {
	height: 10rem;
}
.contact__form-area textarea {
	resize: none;
}

.contact__form .contact__button {
	border: none;
	background: none;
	font-size: var(--h2-font-size);
	font-family: var(--title-font);
	font-weight: var(--font-semi-bold);
	cursor: pointer;
	outline: none;
	margin-top: 0.75rem;
}

.contact__form .contact__button i {
	font-size: 1.5rem;
	font-weight: initial;
}

.contact__message {
	font-size: var(--small-font-size);
	position: absolute;
	bottom: 2.8rem;
	left: 1.5rem;
}

/* Status color */
.color-red {
	color: hsl(4, 71%, 50%);
}
.color-blue {
	color: hsl(207, 56%, 45%);
}
