@import url(_variables.css);

.footer__container {
	padding: 3rem 0 7rem;
	text-align: center;
}

.footer__title {
	font-size: var(--h1-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: 1rem;
}

.footer__list,
.footer__social {
	display: flex;
	justify-content: center;
}

.footer__list {
	margin: 2.5rem 0;
	column-gap: 2.5rem;
}

.footer__link {
	color: var(--title-color);
}

.footer__link:hover {
	text-decoration: underline;
	color: var(--first-color);
}

.footer__social {
	column-gap: 1.25rem;
}

.footer__social-link {
	font-size: 1.25rem;
	color: var(--title-color);
	transition: transform 0.3s;
}

.footer__social-link:hover {
	transform: translateY(-0.15rem);
	color: var(--first-color);
}

.footer__copy {
	display: block;
	margin-top: 4.5rem;
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
	cursor: default;
}
