@import url(_variables.css);

.swiper-wrapper {
	cursor: grab;
}

.projects__container {
	overflow: initial;
}
.projects__content {
	display: grid;
	justify-content: center;
	text-align: center;
}

.projects__img {
	width: 250px;
	border-radius: 0.75rem;
	margin-bottom: 1.25rem;
}

.projects__subtitle {
	font-size: var(--small-font-size);
	color: var(--text-color-light);
	cursor: default;
}

.projects__title {
	font-size: var(--h2-font-size);
	margin-bottom: 1.25rem;
	margin: 0.5rem 0 1.25rem;
}

.projects__button {
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	color: var(--title-color);
	font-size: var(--small-font-size);
	transition: 0.3s;
}
.projects__button:hover {
	color: var(--first-color);
	transform: scale(1.1);
}

.projects__button i {
	font-size: 1rem;
	transition: transform 0.3s;
}

.projects__button:hover i {
	transform: translateX(0.5rem);
}

/* Swiper class */
.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after {
	content: "";
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next {
	width: initial;
	height: initial;
	margin: initial;
	font-size: 2.5rem;
	color: var(--title-color);
}

.projects__container .swiper-button-prev {
	left: -1rem;
	top: 4.5rem;
}
.projects__container .swiper-button-prev:hover {
	color: var(--first-color);
}

.projects__container .swiper-button-next {
	right: -1rem;
	top: 4.5rem;
}
.projects__container .swiper-button-next:hover {
	color: var(--first-color);
}

.projects__container .swiper-slide {
	margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullets {
	bottom: 0;
}

.projects__container .swiper-pagination-bullet {
	background-color: var(--text-color-light);
	opacity: initial;
}
.projects__container .swiper-pagination-bullet-active {
	background-color: var(--first-color);
}
